<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="mysql.jdbc.properties"/>

	<typeAliases>
		<typeAlias type="net.thumbtack.airline.model.BaseUser" alias="User"/>
		<typeAlias type="net.thumbtack.airline.model.Admin" alias="Admin"/>
		<typeAlias type="net.thumbtack.airline.model.Client" alias="Client"/>
		<typeAlias type="net.thumbtack.airline.model.UserCookie" alias="Cookie"/>
		<typeAlias type="net.thumbtack.airline.model.Plane" alias="Plane"/>
		<typeAlias type="net.thumbtack.airline.model.Flight" alias="Flight"/>
		<typeAlias type="net.thumbtack.airline.model.Schedule" alias="Schedule"/>
		<typeAlias type="net.thumbtack.airline.model.Country" alias="Country"/>
		<typeAlias type="net.thumbtack.airline.model.Order" alias="Order"/>
		<typeAlias type="net.thumbtack.airline.model.Passenger" alias="Passenger"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
				<property name="poolPingQuery" value="SELECT 1" />
				<property name="poolPingEnabled" value="true" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="net/thumbtack/airline/mapper/AdminMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/UserMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/ClientMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/CookieMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/PlaneMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/FlightMapper.xml"/>
		<mapper resource="net/thumbtack/airline/mapper/OrderMapper.xml"/>
	</mappers>


</configuration>