<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.airline.dao.mapper.ClientMapper">

    <resultMap type="Client" id="ClientResult">
        <id property="id" column="id"/>
        <result property="firstName" column="firstName"/>
        <result property="lastName" column="lastName"/>
        <result property="patronymic" column="patronymic"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <insert id="register" parameterType="Client">
        INSERT INTO client (email, phone, foreignKey) VALUES (#{email}, #{phone}, #{id})
    </insert>

    <select id="findClientById" resultMap="ClientResult" parameterType="_int">
        SELECT
            u.id,
            u.firstName,
            u.lastName,
            u.patronymic,
            u.login,
            u.password,
            c.email,
            c.phone
        FROM user u
            RIGHT JOIN client c ON u.id = c.foreignKey
        WHERE u.id = #{id}
    </select>

    <select id="getClient" resultType="Client" parameterType="_int">
        SELECT
            email,
            phone
        FROM client
        WHERE foreignKey = #{id}
    </select>

    <select id="getAll" resultMap="ClientResult">
        SELECT
            u.id,
            u.firstName,
            u.lastName,
            u.patronymic,
            u.login,
            u.password,
            c.email,
            c.phone
        FROM user u
            RIGHT JOIN client c ON u.id = c.foreignKey
        WHERE u.userType = 'CLIENT'
    </select>

</mapper>