<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.airline.dao.mapper.CookieMapper">

    <insert id="set" parameterType="Cookie">
        INSERT INTO cookies(uuid, id, userType) VALUES(#{uuid}, #{id}, #{userType})
    </insert>

    <select id="get" parameterType="string" resultType="Cookie">
        SELECT * FROM cookies WHERE uuid=#{uuid}
    </select>

    <delete id="delete" parameterType="string">
        DELETE FROM cookies WHERE uuid=#{uuid}
    </delete>

    <select id="exists" parameterType="string" resultType="_boolean">
        SELECT EXISTS(SELECT 1 FROM cookies WHERE uuid=#{uuid})
    </select>

</mapper>