<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.airline.dao.mapper.OrderMapper">

    <resultMap id="OrderResult" type="Order">
        <id property="orderId" column="orderId"/>
        <result property="totalPrice" column="totalPrice"/>
        <association property="flightDate" select="net.thumbtack.airline.dao.mapper.FlightMapper.getFlightDateById"
                     column="flightDateId"/>
        <association property="user" javaType="User">
            <id property="id" column="userId"/>
            <result property="firstName" column="u_firstName"/>
            <result property="lastName" column="u_lastName"/>
            <result property="patronymic" column="u_patronymic"/>
            <result property="userType" column="userType"/>
            <result property="login" column="login"/>
            <result property="password" column="password"/>
        </association>
        <collection property="passengers" ofType="Passenger">
            <id property="ticket" column="ticket"/>
            <result property="firstName" column="firstName"/>
            <result property="lastName" column="lastName"/>
            <result property="nationality" column="nationality"/>
            <result property="passport" column="passport"/>
            <result property="price" column="price"/>
            <result property="orderClass" column="orderClass"/>
            <result property="place" column="place"/>
        </collection>
    </resultMap>

    <select id="getCountries" resultType="Country">
        SELECT * FROM countries
    </select>

    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId" keyColumn="orderId">
        INSERT INTO orders (flightDateId, userId, totalPrice)
        VALUES (#{flightDate.id}, #{user.id}, #{totalPrice})
    </insert>

    <insert id="addPassenger" useGeneratedKeys="true" keyProperty="ticket" keyColumn="ticket">
        INSERT INTO passenger(orderId, firstName, lastName, nationality, passport, price, orderClass, place) VALUES
        <foreach collection="list" item="e" index="index" open="(" separator="),(" close=")">
            #{order.orderId},
            #{e.firstName},
            #{e.lastName},
            #{e.nationality},
            #{e.passport},
            #{e.price},
            #{e.orderClass},
            #{e.place}
        </foreach>
    </insert>

    <select id="get" resultMap="OrderResult">
        SELECT
        o.orderId,
        o.userId,
        o.totalPrice,
        o.flightDateId,

        fd.flightId,

        p.ticket,
        p.firstName,
        p.lastName,
        p.nationality,
        p.passport,
        p.orderClass,
        p.price,
        p.place,

        u.id AS u_id,
        u.lastName AS u_lastName,
        u.firstName AS u_firstName,
        u.userType,
        u.password,
        u.patronymic AS u_patronymic,
        u.login,

        f.flightName,
        f.planeName,
        f.fromTown,
        f.toTown,

        s.toDate,
        s.fromDate

        FROM orders o
        RIGHT JOIN flight_date fd ON o.flightDateId = fd.id
        RIGHT JOIN passenger p ON o.orderId = p.orderId
        RIGHT JOIN user u ON o.userId = u.id
        RIGHT JOIN flight f ON fd.flightId = f.id
        LEFT JOIN schedule s ON f.id = s.flightId
        <where>
            <if test="flightName != null">
                f.flightName=#{flightName}
            </if>
            <if test="planeName != null">
                AND f.planeName = #{planeName}
            </if>
            <if test="fromTown != null">
                AND f.fromTown = #{fromTown}
            </if>
            <if test="toTown != null">
                AND f.toTown = #{toTown}
            </if>
            <if test="fromDate != null">
                AND #{fromDate} BETWEEN s.fromDate AND s.toDate
            </if>
            <if test="toDate != null">
                AND #{toDate} BETWEEN s.fromDate AND s.toDate
            </if>
            <if test="clientId != 0">
                AND u.id = #{clientId}
            </if>
        </where>
    </select>

    <select id="getById" resultMap="OrderResult">
        SELECT
            o.orderId,
            o.userId,
            o.totalPrice,
            o.flightDateId,

            fd.flightId,

            p.ticket,
            p.firstName,
            p.lastName,
            p.nationality,
            p.passport,
            p.orderClass,
            p.price,
            p.place,

            u.id AS u_id,
            u.lastName AS u_lastName,
            u.firstName AS u_firstName,
            u.userType,
            u.password,
            u.patronymic AS u_patronymic,
            u.login
        FROM orders o
            RIGHT JOIN flight_date fd ON o.flightDateId = fd.id
            RIGHT JOIN passenger p ON o.orderId = p.orderId
            RIGHT JOIN user u ON o.userId = u.id
        WHERE o.orderId = #{orderId}
    </select>

    <update id="updatePassenger">
        UPDATE passenger SET place=#{place}, row=#{row} WHERE ticket=#{ticket}
    </update>
</mapper>