<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.airline.dao.mapper.PlaneMapper">

    <select id="getAll" resultType="Plane">
        SELECT *
        FROM plane
    </select>

    <select id="get" resultType="Plane" parameterType="string">
        SELECT
            name,
            businessRows,
            economyRows,
            placesInBusinessRow,
            placesInEconomyRow
        FROM plane
        WHERE name = #{planeName}
    </select>

</mapper>