<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.airline.dao.mapper.UserMapper">

    <insert id="register" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(firstName, lastName, patronymic, userType, login, password)
        VALUES (#{firstName}, #{lastName}, #{patronymic}, #{userType}, #{login}, #{password})
    </insert>

    <select id="exists" parameterType="string" resultType="_boolean">
        SELECT EXISTS(SELECT 1 FROM user WHERE UPPER(login)=UPPER(#{login}))
    </select>

    <select id="login" parameterType="string" resultType="User">
        SELECT * FROM user WHERE UPPER(login)=UPPER(#{login})
    </select>

    <select id="get" parameterType="_int" resultType="User">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <update id="update" parameterType="User">
        UPDATE user SET firstName=#{firstName}, lastName=#{lastName}, patronymic=#{patronymic}, password=#{password}
    </update>

    <select id="getCountries" resultType="Country">
        SELECT * FROM countries
    </select>

    <insert id="fill" parameterType="map">
        INSERT INTO countries(name, iso3166) VALUES
        <foreach collection="countries" item="e" index="index" open="(" separator="),(" close=")">
            #{index},
            #{e}
        </foreach>;
    </insert>

</mapper>